::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #fafafa !important;
}

::-webkit-scrollbar-thumb {
  background: #ddd !important;
}

.container {
  max-width: 960px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toast {
  padding: 20px !important;
}
