#sidebar-wrapper {
  @apply flex flex-shrink-0 bg-gray-800;
}
#sidebar {
  @apply flex flex-col w-64;
}

#sidebar-inner {
  @apply flex flex-col h-0 flex-1;
}

#sidebar-top-nav {
  @apply flex-1 flex flex-col overflow-y-auto;
}

#logo-lg {
  @apply bg-gray-900 border-r-4 border-purple-700 text-xl text-white py-5 px-6;
  height: 82px;
}
#logo-sm {
  @apply bg-gray-900 border-r-4 border-purple-700 text-xl text-white py-3 px-3;
}

#sidebar nav {
  @apply flex-1;
}

#sidebar nav .sidebar-link {
  @apply flex items-center p-2 border-b border-gray-700 text-gray-300;
}

#sidebar nav .sidebar-link svg {
  @apply mr-3;
  width: 15px;
  height: auto;
}

#sidebar nav .sidebar-link:hover {
  @apply bg-gray-700 text-gray-300;
}

#sidebar nav .sidebar-link.sidebar-link__active {
  @apply bg-gray-700 border-b-0 border-r-4 border-purple-700;
}

#sidebar nav .sidebar-link i {
  @apply w-6 p-1 mr-2 text-center;
}

#collapse-sidebar {
  @apply block p-3 mt-3 text-gray-500 text-xs cursor-pointer;
}
#collapse-sidebar:hover {
  @apply text-gray-300;
}

#sidebar-user {
  @apply flex-shrink-0 flex border-t border-gray-700 bg-gray-900 p-4;
}

#sidebar.collapsed {
  @apply w-16;
}
#sidebar.collapsed #logo-lg {
  display: none;
}
#sidebar.collapsed #logo-sm {
  display: block !important;
}
#sidebar.collapsed .sidebar-link span {
  display: none
}
#sidebar.collapsed .sidebar-link i {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  @apply text-lg;
}

#collapse-sidebar svg {
  width: 15px !important;
  height: auto !important;
}

#sidebar.collapsed #collapse-sidebar span {
  display: none;
}
#sidebar.collapsed #collapse-sidebar #collapse-lg-icon {
  display: none;
}

#collapse-sm-icon {
  display: none;
}

#sidebar.collapsed #collapse-sidebar #collapse-sm-icon {
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
  display: block;
  @apply text-lg;
}

#sidebar.collapsed #sidebar-footer {
  display: none;
}
#sidebar.collapsed #sidebar-user-info {
  display: none;
}