#template-picker .template {
  @apply rounded border bg-white p-2 cursor-pointer;
  transition: all 200ms ease-in;
}

#template-picker .template:hover {
  @apply shadow-lg;
  transform: scale(1.03)
}

#template-picker .template.active {
  box-shadow: 0 0 0 2px #6430d0;
}

#template-picker .template img {
  @apply w-full block rounded border border-gray-200;
}

#template-picker .template span {
  @apply block pt-2 text-center uppercase text-xs text-gray-500 font-medium;
}