.error-message {
  @apply block pt-1 text-sm font-medium block text-red-500;
}

.field.error .hidden {
  display: block !important;
}

.field.error input,
.field.error textarea,
.field.error select {
  border-color: #f05252 !important;
  box-shadow: 0 0 0 1px #f05252 !important;
}